__pycache__
.git
.venv
*.md

#Git
.git
.gitignore

#Docker
.docker

#Python  - cache armazenado pelo python ao executar o projeto
code/__pycache__
code/*/__pycache__
code/*/*/__pycache__
code/*/*/*__pycache__
.env
.venv/
venv/